meta name="msapplication-TileImage" content="#{image_url('cropped-mox-270x270.jpg')}"

meta name="root_url" content=root_url
meta name="description" content="Madeofx - what everything is made of"

meta itemprop="name" content="Madeofx"
meta itemprop="description" content="What everything is made of"
meta itemprop="image" content="#{image_url('cropped-mox-270x270.jpg')}"

meta name="twitter:card" content="summary"
meta name="twitter:site" content="Madeofx"
meta name="twitter:title" content="Madeofx"
meta name="twitter:description" content="What everything is made of"

meta name="twitter:image" content="#{image_url('cropped-mox-270x270.jpg')}"
meta name="twitter:domain" content=request.domain

meta name="og:type" content="website"
meta name="og:title" content="Madeofx"
meta name="og:description" content="What everything is made of"
meta name="og:image" content="#{image_url('cropped-mox-270x270.jpg')}"
